accounts/
node_modules/
browser_tools/web_app/node_modules/
browser_tools/web_app/htdocs/js/contracts/
browser_tools/web_app/htdocs/js/
src/solc/contracts/
build/js/contracts/
migrations/src/solc/contracts/
browser_tools/bin/
browser_tools/build/
*.swp
*.pyc

