<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="css/diQuery-collapsiblePanel.css">
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="js/URI.js"></script>
<script type="text/javascript" src="js/springy.js"></script>
<script type="text/javascript" src="js/springyui.js"></script>
<script type="text/javascript" src="js/base64.js"></script>
<script type="text/javascript" src="js/diQuery-collapsiblePanel.js"></script>
<script type="text/javascript" src="js/api.js"></script>
<script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUU90mGUU8I7wHFPfteUJmZHdy-CSOApM&libraries=places&sensor=true" async="" defer=""></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.bundle.css">
<link rel="stylesheet" type="text/css" href="css/vendors.bundle.css">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
<script>
  WebFont.load({
    google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
    active: function() {
        sessionStorage.fonts = true;
    }
  });
</script>
<style>
.Logo {
  width: 136px;
  height: 40px;
  object-fit: contain;
}
.Home {
  width: 30px;
  height: 27.8px;
  object-fit: contain;
}
.primary-item {
  width: 138px;
  height: 15px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.secondary-item {
  width: 138px;
  height: 15px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.07;
  letter-spacing: normal;
  text-align: left;
  color: #5c6eb4;
}

.title2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.inputbox2 {
  border-radius: 5px;
  border: solid 1px #d8d8d8;
}

.inputbox3 {
  border-radius: 5px;
  background-color: #f2f2f2;
}

.label2 {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: right;
  color: #4a4a4a;
}

.button2 {
  border-radius: 3px;
  background-image: linear-gradient(67deg, #5c6eb4, #4bc9f4);
}

.buttonText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

</style>
</head>
<body>
<div class="row">
     <div class="col-md-12">
         <div class="m-portlet m-portlet--tab">
               <div class="m-portlet__head" style="box-shadow: 0 2px 7px 0 rgba(160, 160, 160, 0.5);">
                    <div class="row">
                        <div class="col-md-12" align=left>
                            <br>
                            <span align=left>
                            <a href='/icatOS/'>
                            <img style="margin-left:35px;" src="images/logo.svg"
                         class="Logo">
                             </a>
                             </span>
                             <span align=right>
                             <a href='/icatOS/'>
                             <img src="images/home.svg"
                         class="Home" align=right>
                             </a>
                             </span>
                        </div>
                    </div>
                </div>
                <div class="row" >
                        <div class="col-md-12 col-xs-12">
                            <br><br><center>
                            
                            
                            <div style="width:90%;" align=left>
                                <div class="row" style="box-shadow: 0 2px 7px 0 rgba(160, 160, 160, 0.5);">
                                        <div style="width:170px;border: solid 1px #e7e7e7;" >
                                         <% nav.forEach((item) => { %>
     
     									<button type="button" 
     									style="width:170px;height:60px;text-align:left;<%if (item.selected) { %>box-shadow: inset 0 0 6px 0 rgba(63, 63, 63, 0.5);<% } else { %>box-shadow: inset 0 0 0px 0 rgba(63, 63, 63, 0.5);<% } %> " 
     									class="btn m-btn--square <%if (item.selected) { %>btn-primary <% } 
     									else 
     									{ %> btn-secondary <% } %> btn-lg" 
     									onClick="JavaScript:location.href='<%= item.href %>';">
										<span class="<%if (item.selected) { %>primary-item <% } 
     									else 
     									{ %> secondary-item <% } %> "><%= item.name %></span>
										</button>
										<br>
	
                                        <% }) %>
										
                                            
                                        </div>
                                        <div style="border: solid 1px #e7e7e7;" >
                                        </div>
								
                                        <div class="col-xs-10 col-md-10 col-sm-10">
                                 