<%- include('partials/header') %>
<form id="page1">

                          <br>
                          <center><label class="title2">Find Smart Pool Key</label></center>
                          <br>
                          <div class="row">
                                 <div class="col-md-12">
                                         <center>
                                             <div class="input-group">

                                                 <input name="find_poolkey" class="inputbox2 form-control m-input m-input--air"  placeholder="Enter Smart Pool Key Address" style="width:50%" type="text" id="find_poolkey" placeholder="" aria-invalid="false" aria-required="false">
                                                    <div class="input-group-append">
                                                     <button type="button" id='find_poolkey_btn' class="btn btn-accent button2"><span class="buttonText">Find</span></button>
                                                    </div>
                                             </div>
                                          </center>
                                          <br>
                                  </div>
                            </div>
                            <hr>
                    <div class="row">
                        <div class="col-md-12">
                          <center><label class="title2">Create Smart Pool Key</label></center>
                          <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                                <label class="label2">Your wallet address:</label>
                        
                         </div>
                         <div class="col-md-6" align=left>
                
                                 <input name="address" class="address_val inputbox3 form-control m-input m-input--air"  type="text" id="address" placeholder="" aria-invalid="false" aria-required="false">
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" align=right>
                             <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                                <label class="label2">Maximum Allocation (ETH)</label>
                        
                         </div>
                         <div class="col-md-6" align=left>
                
                                <input name="max_contrib" class="form-control m-input m-input--air m-input--pill"  matinput="" type="text" id="max_contrib" value='100000' placeholder="" aria-invalid="false" aria-required="false">
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                            <label class="label2">Maximum Per Contributor (ETH)</label>
                        </div>
                         <div class="col-md-6" align=left>
                            <input name="max_per_contribr" class="form-control m-input m-input--air m-input--pill"  matinput="" type="text" id="max_per_contrib"  value='100000' placeholder="" aria-invalid="false" aria-required="false">
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                            <label class="label2">Minimum Per Contributor (ETH)</label>
                        </div>
                         <div class="col-md-6" align=left>
                            <input name="min_per_contrib" class="form-control m-input m-input--air m-input--pill" matinput="" type="text" id="min_per_contrib" value='1' placeholder="" aria-invalid="false" aria-required="false">
                        </div>
                    </div>
            
            
                    <div class="row">
                        <div class="col-md-12">
            
                          <h3>
                            <br>
                          </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Admin 1 Wallet Address</label>
                          
                        </div>
                        <div class="col-md-6" align=left>
                          
                          <input name="admin1" class="address_val form-control m-input m-input--air m-input--pill"  type="text" id="admin1" placeholder="" aria-invalid="false" aria-required="false">
                      
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Admin 2 Wallet Address</label>
                        </div>
                        <div class="col-md-6" align=left>
                            <input name="admin2" class="form-control m-input m-input--air m-input--pill"  matinput="" type="text" id="admin2" placeholder="" aria-invalid="false" aria-required="false">
                        </div>
                    </div>
                      
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Admin 3 Wallet Address</label>
                        </div>
                        <div class="col-md-6" align=left>
                            <input name="admin3" class="form-control m-input m-input--air m-input--pill"  matinput="" type="text" id="admin3" placeholder="" aria-invalid="false" aria-required="false">
                        </div>
                    </div>
                    
                                        
                    <div class="row">
                        <div class="col-md-12">
                
                          <label><h3><br></h3></label>
                          
                                              
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right >
                          <label class="label2">Enable Whitelist</label>
                        </div>
                        <div class="col-md-6" align=left valign=middle>
                            <span class="m-switch m-switch--info">
												<label>
						                        <input type="checkbox" id="has_whitelist" value="Yes">
						                        <span></span>
						                        </label>
						                    </span>
                        </div>
                    </div>
                    
                    <!-- 
            
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Whitelist 1 Wallet Address</label>
                          
                        </div>
                        <div class="col-md-6" align=left>
                          
                          <input name="whitelist1" class="form-control m-input m-input--air m-input--pill"  type="text" id="whitelist1" placeholder="" aria-invalid="false" aria-required="false">
                      
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Whitelist 2 Wallet Address</label>
                        </div>
                        <div class="col-md-6" align=left>
                            <input name="whitelist2" class="form-control m-input m-input--air m-input--pill" matinput="" type="text" id="whitelist2" placeholder="" aria-invalid="false" aria-required="false">
                        </div>
                    </div>
                      
                    <div class="row">
                        <div class="col-md-6" align=right>
                
                          <label class="label2">Whitelist 3 Wallet Address</label>
                        </div>
                        <div class="col-md-6" align=left>
                            <input name="whitelist3" class="form-control m-input m-input--air m-input--pill"  matinput="" type="text" id="whitelist3" placeholder="" aria-invalid="false" aria-required="false">
                        </div>
                    </div>
                    -->
                    
                    <div class="row">
                        <div class="col-md-12">
                          <h3><br></h3>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6" align=right>    
                          <label class="label2">Pool Fee Percentage</label>
                        </div>
                        <div class="col-md-6" align=left>
                        
                            <input name="fee" class="form-control m-input m-input--air m-input--pill"  matinput="" max="50" min="0" size="6" type="number" id="fee" placeholder="" aria-invalid="false" aria-required="false" value='5'>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6" align=right>
                           <label class="label2">Fee Percentage</label>
                        </div>
                        <div class="col-md-6" align=left>
                                  <label class="text2">Our Fee is fixed at 0.5%.</label>
                  
                          <div id='fee_struct' style="display:None;" align=left>
                                   
                                  <ul style="max-width:50%">
                                    <li><span id='you'></span> goes to you.</li>
                                    <li>0.5% goes to Our Fee.</li>
                                    <li><b>Total: <span id='total'>0.50%</span></b></li>
                                  </ul>
                           </div>         
                        </div>

                                       
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">    
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" align=right>  
                            <label class="label2"> 
                            Distributes Tokens 
                            </label>
                        </div>
                        <div class="col-md-6" align=left>    
                            <select name='auto' id='auto'>
                            <option value='0'>Automatically</option>
                            <option value='1'>Manually</option>
                            </select>
                        </div>
                    </div>
                    <center>
                            <br>
                            <button type="button" id='pool' class="button2 btn btn-accent"><span class="buttonText">Create Smart Pool Key</span></button>
                            <br><br>
                    </center>


</form>
<form id="loading" style="display:none;">
<img src="images/wait.gif">
</form>
<form id="page2" style="display:none;">
<div class="row">
    <div class="col-md-12">    
        <br>
        <center><label class="title2">Pool Key Contract Address</label></center><br>
    </div>
</div>
<div class="row">
    <div class="col-md-12">    

        <center><h3><pre id='poolkey'></pre></h3></center>

    </div>
</div>

<div class="row">
    <div class="col-md-12">    
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6">    
        <div class="m-portlet m-portlet--tab">
               <div class="m-portlet__head">
        
                    <br><br>                    
                    
                    <div class="row">
                        <div class="col-md-6">    
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label2">SMART POOL KEY ETH BALANCE</label>
                                    <br>
                                    <h1><span class="eth_balance"></span></h1>
                                    <font size=2>ETH</font>
                                   
                                    <br>
                                </div>
                            </div>    
                            <br>                        
                            <div class="row distribute" style="display:none">
                                <div class="col-md-12">
                                     <a href='#' class="btn btn-primary" id='distribute_ether'>Distribute Ether to Members</a>
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-md-6">    
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label2">ETH RECEIVED FROM POOL</label>
                                    <h1><span class="received"></span></h1> <font size=2>ETH</font>
                                </div>
                            </div>                            
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                                <br><br>
                                <h4>
                                     
                                     <div class="progress m-progress--sm">
                						<div class="progress-bar m--bg-accent" role="progressbar" style="height:35px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                						<b><span class="eth_sent"></b>
                						</div>
                					</div>
                                    
                                </h4>
                                <br><br>
                        </div>
                    </div>
                    
                     <div class="row">
                        <div class="col-md-4">    
                            <label class="label2">MIN PER CONTRIBUTOR</label>
                            <h1><span class="min_per_contrib"></span></h1> <font size=2>ETH</font><br>
                            
                        </div>
                        <div class="col-md-4">    
                            <label class="label2">MAX PER CONTRIBUTOR</label>
                            <h1><span class="max_per_contrib"></span></h1> <font size=2> ETH</font><br>
                            
                        </div>
                        <div class="col-md-4">    
                            <label class="label2">MAX ALLOCATION</label>
                            <h1><span class="max_contrib"></span></h1> <font size=2>ETH</font>

                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br><br><br>    
                        </div>
                    </div> 
                </div>
              </div>
             </div>
             <div class="col-md-6">    
                    <div class="m-portlet m-portlet--tab">
                           <div class="m-portlet__head">     
                               <br><br>
                               <div class="row>
                                   <div class="col-md-12">
                                       <label class='status title3'>Status: Open</label>
                                       <br>
                                       <div id="contrib-stat" style="height: 250px;"></div>
                                       <br>
                                       <center>   
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="label2">TRANSACTION FEE</label>
                                    <h1><span class="fee"></span></h1>
                                    <font size=2>% Fee </font><br>
                                </div>
                                <div class="col-md-6">
                                    <label class="label2">ETH SENT TO POOL</label>
                                    <h1><span class="eth_sent"></span></h1>
                                    <font size=2>ETH</font><br>
                                    <br>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input id='send_amt' class="form-control m-input m-input--air m-input--pill" value=1>
                                        <a href='#' class="btn btn-primary" id='send_ether'>Send Ether</a>
                                    </div>
                                </div>
                            </div>
                            <br>

                                               
                                        </center> 
                                    </div>
                                    
                                </div>                               
    
                            </div>
                    </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="m-portlet m-portlet--tab">
                           <div class="m-portlet__head">
                               <br>
                               <center><label class="title2">Transactions</label></center> 
                                <hr>
                               <div id='transactions'>
                               </div>
                           </div>
                </div>
            </div>
        </div>
    </div>
</div>            

</form>
<script>
var isPool=true;
$( document ).ready(function() {
    
    $('#fee').on('change', function(e) {
        $('#fee_struct').show();
        
        var fee=parseFloat($('#fee').val());
        var you=fee - 0.5;
        var you_msg = you + '%';
        $('#you').html(you_msg);
        var total_msg = fee  + '%';
        $('#total').html(total_msg);
        
        
        
    });
    
    $('#find_poolkey_btn').on('click',function(e) {
         var poolkey=$('#find_poolkey').val();
         page2(poolkey);
    });

    function fill_page2(address, eth_balance, eth_sent, contrib_total, max_contrib, max_per_contrib, min_per_contrib, fee, received, autoDistribute, members) {
       if (address != '0x0') {
           $('#page1').hide();
           $('#loading').hide();
           $('#page2').show();
           if (!autoDistribute) {
               $('.distribute').show();
           }
            console.log(eth_sent, contrib_total, max_contrib, max_per_contrib, min_per_contrib, fee);
           $('.eth_balance').html('' + eth_balance);
           $('#distribute_ether').html('Distribute Balance to ' + members.length + ' Members');
           $('.eth_sent').html(eth_sent);
           $('.max_contrib').html( max_contrib);
           $('.max_per_contrib').html(max_per_contrib);
           $('.min_per_contrib').html(min_per_contrib);
           $('.fee').html(fee);
           $('.received').html(received);
           $('.progress-bar').val(eth_sent/max_per_contrib * 100);
           $('#poolkey').html('<pre>' + address + '</pre>');
           Morris.Donut({
              element: 'contrib-stat',
              data: [
                {label: "Member Contributed ETH", value: contrib_total},
                {label: "ETH Received", value:  received},
              ]
            });
            
            
            
           $('#send_ether').on('click', function(e) {
                   var eth1=1000000000000000000;
                   var amt=parseInt($('#send_amt').val()) * eth1;
                   send_ether(address, amt);
           });       
           
           function done_sending(res) {
             $('#page1').hide();
             $('#loading').hide();
             $('#page2').show();
           }
           
           $('#distribute_ether').on('click', function(e) {
                   var eth1=1000000000000000000;
                     $('#page1').hide();
                     $('#loading').show();
                     $('#page2').hide();
                
                     distribute_pool_ether(address, done_sending);
           });       
           
           
           $('#transactions').html('');
           get_pool_transactions(address, fill_page2_transactions);
         } else {
             $('#page1').show();
             $('#loading').hide();
             $('#page2').hide();
           
         }
    }  

    function fill_page2_transactions(sender, date, amount, tx_type) {
        console.log(sender, date, amount);
        var dateTime = new Date(parseInt(date) * 1000);
        date=dateTime.toISOString(); 
        var eth1=1000000000000000000;
        var tx='Incoming';
        if (tx_type > 0) {
            tx='Outgoing';
        }
        var html ="<div class=row><div class=col-md-2>";
        html +='<b>Date:</b><br> ' + date + "</div><div class=col-md-6>";
        html +='<b>Address:</b><br> ' + sender + "</div><div class=col-md-2>";
        html +='<b>Type:</b><br> ' + tx + "</div><div class=col-md-2>";
        html +='<b>Amount:</b><br> ' + amount/eth1 + " ETH </div>";
        html +="</div><hr><br>";
        
        $('#transactions').append(html);
    }

    
    function page2(address) {
             
       $('#page1').hide();
       $('#loading').show();
       $('#page2').hide();
         
       get_pool(address, fill_page2);
    }
    
    $('#pool').on('click', function (e) {
        var fee=Math.round(1 / parseFloat($('#fee').val() / 100));
        var whitelist=[];
        var admins=[];
        var has_whitelist=false;
        /*
        if ($('#whitelist1').val().length > 0) {
            whitelist.push($('#whitelist1').val());
        }
        if ($('#whitelist2').val().length > 0) {
            whitelist.push($('#whitelist2').val());
        }
        if ($('#whitelist3').val().length > 0) {
            whitelist.push($('#whitelist3').val());
        }
        */
        if ($('#has_whitelist')[0].checked) {
            has_whitelist=true;
        }
        
        if ($('#admin1').val().length > 0) {
            admins.push($('#admin1').val());
        }
        if ($('#admin2').val().length > 0) {
            admins.push($('#admin2').val());
        }
        if ($('#admin3').val().length > 0) {
            admins.push($('#admin3').val());
        }
        
        var eth1=1000000000000000000;
        var max_contrib=parseInt($('#max_contrib').val()) * eth1;
        var max_per_contrib=parseInt($('#max_per_contrib').val()) * eth1;
        var min_per_contrib=parseInt($('#min_per_contrib').val()) * eth1;
        
        var beneficiary=$('#address').val();
        var autoDistribute=true;
        if ($('#auto').find('option:selected').val() == '1') {
            autoDistribute=false;
        }
         $('#page1').hide();
         $('#loading').show();
         $('#page2').hide();
         
        add_pool(beneficiary, max_contrib, max_per_contrib, min_per_contrib, admins, has_whitelist, fee, autoDistribute, page2);
   
    });
    $('#fee').trigger('change');
   
});
</script>
<script src="js/app.js"></script>
<%- include('partials/footer') %>